In [7]:
import pandas as pd
import numpy as np

log = pd.read_csv('log.xls', header = None)
users = pd.read_csv('users.xls', encoding = 'koi8_r', sep = '\t')

In [9]:
log.columns = ['user_id', 'time', 'bet', 'win']
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [10]:
log.time.isna().value_counts() #Счет количества пропущенных значений (True)

False    985
True      15
Name: time, dtype: int64

In [11]:
new_log = log.dropna(axis=1) #Удаление столбцов (целиком), в которых есть пропуски
new_log.head()

                            user_id
0  Запись пользователя № - user_919
1  Запись пользователя № - user_973
2  Запись пользователя № - user_903
3  Запись пользователя № - user_954
4  Запись пользователя № - user_954

In [12]:
new_log2 = log.dropna(axis=0) #Удаление строк (целиком), в которых есть пропуски
new_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 14 to 991
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  133 non-null    object
 1   time     133 non-null    object
 2   bet      133 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 5.2+ KB

In [17]:
new_log3 = log.drop_duplicates(subset = ['user_id', 'time'])
new_log3

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [ ]:
log['time'] = log['time'].str.replace('[', '')
log['time'] = pd.to_datetime(log['time'], format = '%Y-%m-%d')
log['time'] = log.time.dropna(axis = 0)
log

In [46]:
log.time.max()

Timestamp('2019-04-20 18:10:07')

In [48]:
log.time.dt.minute.value_counts() #Подсчет уникальных значений минут из 'time'

36.0    25
31.0    23
6.0     22
50.0    22
14.0    21
29.0    21
12.0    21
5.0     21
40.0    21
18.0    21
43.0    21
53.0    21
58.0    20
57.0    20
45.0    20
48.0    20
2.0     20
21.0    19
56.0    19
27.0    19
9.0     18
54.0    18
47.0    18
20.0    18
34.0    18
35.0    18
3.0     18
33.0    18
51.0    17
10.0    17
55.0    16
25.0    16
17.0    16
49.0    15
28.0    15
24.0    15
30.0    15
38.0    15
15.0    15
37.0    15
16.0    15
7.0     14
4.0     14
44.0    14
19.0    14
32.0    14
59.0    13
41.0    13
1.0     13
0.0     12
23.0    12
39.0    12
22.0    11
13.0    11
42.0    11
52.0    10
46.0    10
8.0      9
26.0     9
11.0     6
Name: time, dtype: int64

In [49]:
log.time.dt.month.value_counts(ascending = True)

4.0    170
2.0    259
3.0    264
1.0    292
Name: time, dtype: int64

In [69]:
new_log4 = log.time.dt.dayofweek
new_log4[(new_log4 == 5.0) | (new_log4 == 6.0)].value_counts().sum()

283

In [67]:
new_log4.value_counts()

5.0    152
2.0    150
1.0    150
0.0    135
4.0    135
3.0    132
6.0    131
Name: time, dtype: int64

In [169]:
def time_to_call():
    if x >=0 and x <=5:
        return 'ночь'
    elif x>= 6 and x<=11:
        return 'утро'
    elif x>= 12 and x<=17:
        return 'день'
    else:
        return 'вечер'

In [194]:
log = log.dropna(subset = ['time'], axis = 0)
log['time_of_day'] = log.time.apply(time_to_call(log.time))
log.time

TypeError: time_to_call() takes 0 positional arguments but 1 was given

In [195]:
time_to_call(log.time)

TypeError: time_to_call() takes 0 positional arguments but 1 was given

In [196]:
log.time.dt.hour.apply(time_to_call(log.time))

TypeError: time_to_call() takes 0 positional arguments but 1 was given

In [138]:
log.new_column = log.time.dt.hour
log.new_column = log.new_column.apply(time_to_call)
log.new_column.value_counts(ascending = True)

вечер    227
день     240
утро     253
ночь     265
Name: time, dtype: int64

In [189]:
log = pd.read_csv('log.xls', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(axis=0)
log['time'] = log['time'].str.replace('[', '')
log['time'] = pd.to_datetime(log['time'], format = '%Y-%m-%d')
log['hour'] = log.time.dt.hour
log['hour']

0      14.0
1      14.0
2      16.0
3      17.0
4      21.0
       ...
995     9.0
996     NaN
997     NaN
998     NaN
999     NaN
Name: hour, Length: 1000, dtype: float64

In [210]:
log = pd.read_csv('log.xls', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log['time'] = log['time'].str.replace('[', '')
log['time'] = pd.to_datetime(log['time'], format = '%Y-%m-%d')
log['hour'] = log.time.dt.hour

In [225]:
log.bet = log.bet.fillna(0) #заполнение столбца значением "0" вместо NaN (None)
log.win = log.win.fillna(0)
log['net'] = log.win - log.bet
log

,user_id,time,bet,win,hour,net
0,Запись пользователя № - user_919,2019-01-01 14:06:51,0.0,0.0,14.0,0.0
1,Запись пользователя № - user_973,2019-01-01 14:51:16,0.0,0.0,14.0,0.0
2,Запись пользователя № - user_903,2019-01-01 16:31:16,0.0,0.0,16.0,0.0
3,Запись пользователя № - user_954,2019-01-01 17:17:51,0.0,0.0,17.0,0.0
4,Запись пользователя № - user_954,2019-01-01 21:31:18,0.0,0.0,21.0,0.0
...,...,...,...,...,...,...
995,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,0.0,9.0,-9754.0
996,#error,NaT,10054.0,29265.0,NaN,19211.0
997,#error,NaT,10454.0,0.0,NaN,-10454.0
998,#error,NaT,1000.0,0.0,NaN,-1000.0
999,#error,NaT,10754.0,0.0,NaN,-10754.0

In [226]:
log.net[log.net > 0] # расчет положительного выигрыша

14     1841921.0
29     8198222.0
151       4649.0
189       4467.0
205       4019.0
         ...
981       6235.0
986      19518.0
987      21080.0
991       6127.0
996      19211.0
Length: 138, dtype: float64

In [227]:
round(log.net[log.net > 0].mean(), 0)

80253.0

In [228]:
round(log.net[log.net > 0].median(), 0)

5347.0

In [230]:
round((100 * log.bet[log.bet > 0].count() / log.bet.count()), 1) #расчет процента, сделавших ставку среди всех пришедших

48.5

In [233]:
int(log.bet[log.bet > 0].mean()) #расчет средней ставки с отбросом дробной части без округления

6785

In [236]:
int(log.net[log.net != 0].mean())

20421

In [237]:
int(log.net[log.net < 0].mean())

-3372

In [246]:
won = round(100 * (log.net[log.net > 0].count() / log.net.count()), 1)
lose = round(100 * (log.net[log.net < 0].count() / log.net.count()), 1)
print('Процент выигравших = {} Процент проигравших = {}'.format(won,lose) )

Процент выигравших = 13.8 Процент проигравших = 34.7

In [274]:
pre_min_bet_amount = log.bet[log.bet > 0].min()
min_bet_amount = log.bet[log.bet == pre_min_bet_amount].count()
min_bet_amount

48