In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015

In [ ]:
data.describe()

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget

def change_time(time):
    return datetime.strptime(time, '%m/%d/%Y') #вычитал как можно преобразовать строку в датафрейме в datetime

data['release_date'] = data['release_date'].apply(change_time) #победил и преобразовал (а потом узнал, что можно 
# в одну строку, но не стал менять, потому что жалко)
data.head(1)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

In [4]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [5]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [ ]:
data[data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [6]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [ ]:
data[data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [7]:
answers['4'] = '4. 110'

In [ ]:
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [8]:
answers['5'] = '5. 107'

In [ ]:
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [9]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'

In [ ]:
data[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [10]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [ ]:
data[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [11]:
answers['8'] = '8. 1478'

In [ ]:
data[data.profit > 0].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [12]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [ ]:
data[data.release_year == 2008].sort_values('profit', ascending = False).head(1)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [13]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [ ]:
data[(data.release_year == 2012) |
    (data.release_year == 2013) |
    (data.release_year == 2014)].sort_values('profit', ascending = False).tail(1)

# 11. Какого жанра фильмов больше всего?

In [14]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'

In [ ]:
step_1 = data.genres.str.split('|')
step_2 = Counter()

for i in step_1:
    for j in i:
        step_2[j] += 1
        
step_2.most_common()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [15]:
answers['12'] = '12. Drama'

In [ ]:
a = data[data.profit > 0].genres.str.split('|')
b = Counter()

for i in a:
    for j in i:
        b[j] += 1
        
b.most_common()

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [16]:
answers['13'] = '13. Peter Jackson'

In [ ]:
data.groupby(['director']).revenue.sum().sort_values(ascending = False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [17]:
answers['14'] = '14. Robert Rodriguez'

In [ ]:
directors = data[data.genres.str.contains('Action')].director.str.split('|')
a = Counter()

for i in directors:
    for j in i:
        a[j] += 1
        
a.most_common

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [18]:
answers['15'] = '15. Chris Hemsworth'

In [ ]:
data[data.release_year == 2012].sort_values('revenue', ascending = False).cast[970]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [19]:
answers['16'] = '16. Matt Damon'

In [ ]:
z = data[data.budget > data.budget.mean()].cast.str.split('|')
z.explode().value_counts()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
genres_Nicolas = data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()
genres_Nicolas

In [20]:
answers['17'] = '17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit')

In [21]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby(['release_year']).revenue.sum().sort_values()

In [22]:
answers['19'] = '19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
choose_WB = data[data.production_companies.str.contains('Warner Bros')]
choose_WB.groupby(['release_year']).profit.sum().sort_values()

In [23]:
answers['20'] = '20. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [24]:
answers['21'] = '21. Сентябрь'

In [ ]:
data['month'] = data.release_date.dt.month
data.groupby(['month']).imdb_id.count().sort_values()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
data[(data.month == 6) |
    (data.month == 7) |
    (data.month == 8)].groupby(['month']).imdb_id.count().sum()

In [25]:
answers['22'] = '22. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
data[(data.month == 1) |
    (data.month == 2) |
    (data.month == 12)].director.str.split('|').explode().value_counts()

In [26]:
answers['23'] = '23. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
data['len_symbol'] = data.original_title.apply(len)
data['plist'] = data.production_companies.str.split('|')
df_production = data.explode('plist')
length = df_production.groupby(['plist'])['len_symbol'].mean().sort_values(ascending = False)
length

In [27]:
answers['24'] = '24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
df_production['overview_length'] = df_production['overview'].str.count(' ') + 1
length_overview = df_production.groupby(['plist'])['overview_length'].mean().sort_values(ascending = False)
length_overview

In [31]:
answers['25'] = '25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
data[data.vote_average == data.vote_average.quantile(0.999)]

In [32]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
pairs = []

for i in range(len(data)):
    cast_new = data.loc[i, 'cast'].split('|')
    for j in range(len(cast_new) - 1):
        for k in range(j + 1, len(cast_new)):
            pairs.append(sorted([cast_new[j], cast_new[k]]))
            
new_pairs = pd.Series(pairs)
new_pairs.value_counts()

In [33]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

27